ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 0;
}

.ControlsList {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.ControlsList li:not(:last-child) {
  margin-right: 12px;
}

.ControlsList button {
  padding: 6px;
  font-size: 14px;
}

.Container {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.StatisticList {
  margin-bottom: 0;
}

.StatisticList li:not(:last-child) {
  margin-bottom: 6px;
}
